[submodule "vim/pack/tate/start/ack"]
	path = vim/pack/tate/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/pack/tate/start/vim-commentary"]
	path = vim/pack/tate/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/tate/start/salt-vim"]
	path = vim/pack/tate/start/salt-vim
	url = https://github.com/saltstack/salt-vim.git
[submodule "vim/pack/tate/start/vim-easymotion"]
	path = vim/pack/tate/start/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/pack/tate/start/nerdtree"]
	path = vim/pack/tate/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/pack/tate/start/vim-fugitive"]
	path = vim/pack/tate/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
